<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= type_appareil.nom %>
</p>

<%= link_to 'Modifier', edit_type_appareil_path(type_appareil) %> |
<%= link_to 'Retour', type_appareils_path %>
