<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
	<%= link_to "Planete SAV", '#', id: "logo" %>
	<nav>
	  <ul class="nav navbar-nav navbar-right">

        <li><%= link_to 'Marques', marques_path %></li>
		<li><%= link_to 'Types d\'appareils', type_appareils_path %></li>
	    <li><%= link_to 'Modeles', modeles_path %></li>
	  </ul>
	  </nav>
	</div>
</header>